<% layout('layouts/boilerplate') -%>

<div class="row">
    <h1 class="text-center">New place</h1>
    <div class="offset-md-3 col-md-6">
        <form action="/places" method="post" novalidate class="needs-validation" enctype="application/x-www-form-urlencoded">
            <div class="mb-3">   
                <label class="form-label" for="title">Title</label>
                <input class="form-control" id="title" type="title" placeholder="Title" name="place[title]" required>
                <div class="invalid-feedback">
                    Plese fill out the field.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" type="description" placeholder="Description" name="place[description]" required></textarea>
                <div class="invalid-feedback">
                    Plese fill out the field.
                </div>
            </div>
            <div class="mb-3">
                <p class="for-label">Category</p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="place[category]" id="Culture" value="Culture">
                    <label class="form-check-label" for="Culture">Culture</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="place[category]" id="Sport" value="Sport">
                    <label class="form-check-label" for="Sport">Sport</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="place[category]" id="Nature" value="Nature">
                    <label class="form-check-label" for="inlineRadio1">Nature</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="place[category]" id="Education" value="Education">
                    <label class="form-check-label" for="Education">Education</label>
                </div>
            </div>
            <div class="mb-3">
                <p class="for-label">Ages</p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Ages1" value="0~2" name="place[ages]">
                    <label class="form-check-label" for="Ages1">0~2 years old</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Ages2" value="3~6" name="place[ages]">
                    <label class="form-check-label" for="Ages2">3~6 years old</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Ages3" value="7~10" name="place[ages]">
                    <label class="form-check-label" for="Ages3">7~10 years old</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Ages4" value="10~" name="place[ages]">
                    <label class="form-check-label" for="Ages4">10~ years old</label>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" id="location" type="location" placeholder="Location" name="place[location]" required>
                <div class="invalid-feedback">
                    Please fill out the field.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="price" placeholder="0" aria-label="price" aria-describedby="price-label" name="place[price]" required>
                    <span class="input-group-text" id="price-label">RSD</span>
                    <div class="invalid-feedback">
                        Please fill out the field.
                    </div>
                </div>
            </div>
            
            <div class="mb-3">
                <button class="btn btn-success">Done</button>
            </div>
        </form>

        <a href="/places">Back to Overview</a>
    </div>
</div>
    
