<form class="d-inline" action="/" method="GET">
    <p class="fw-bold mb-0 mt-1">Category:</p>
    <input class="form-check-input" type="checkbox" id="culture" name="categories" value="Culture">
    <label class="form-check-label" for="culture">Culture</label><br>
    <input class="form-check-input" type="checkbox" id="sport" name="categories" value="Sport">
    <label class="form-check-label" for="sport">Sport</label><br>
    <input class="form-check-input" type="checkbox" id="education" name="categories" value="Education">
    <label class="form-check-label" for="education">Education</label><br>
    <input class="form-check-input" type="checkbox" id="nature" name="categories" value="Nature">
    <label class="form-check-label" for="nature">Nature</label><br>

    <p class="fw-bold mb-0 mt-1">Age:</p>
    <input class="form-check-input" type="checkbox" id="0~1" name="ages" value="0~1">
    <label class="form-check-label" for="0~1">0~1 yrs</label><br>
    <input class="form-check-input" type="checkbox" id="2~3" name="ages" value="2~3">
    <label class="form-check-label" for="2~3">2~3 yrs</label><br>
    <input class="form-check-input" type="checkbox" id="4~6" name="ages" value="4~6">
    <label class="form-check-label" for="4~6">4~6 yrs</label><br>
    <input class="form-check-input" type="checkbox" id="7~9" name="ages" value="7~9">
    <label class="form-check-label" for="7~9">7~9 yrs</label><br>
    <input class="form-check-input" type="checkbox" id="10~" name="ages" value="10~">
    <label class="form-check-label mb-2" for="10~">10~ yrs</label><br>
    
    <button class="btn btn-danger mb-2">Search</button>
</form>
<form class="d-inline" action="/" method="GET">
    <button class="btn btn-outline-danger mb-2">Clear all</button>
</form>