.bg-img {
    background-image: url("https://images.unsplash.com/photo-1453342664588-b702c83fc822?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=859&q=80");
    background-size: cover;
    background-position: center 20%;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

/* https://images.unsplash.com/photo-1536825919521-ab78da56193b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80 */